
nav {
	position: absolute;
	width: 100%;
	padding: 3rem;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 3rem;
}
nav ul li {
	margin-left: 2rem;
	font-family: comic sans ms;
}

nav a {
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}


section.calling {
	width: 100%;
	height: 80%;
	background: #94dae6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: lightgoldenrodyellow;
}
section.calling h1 {
	text-align: center;
	font-size: 3rem;
	line-height: 2rem;
	font-family: comic sans ms;

}

@media screen and (max-width:  900px){
	section.calling h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	}
}

section.calling p {
	text-align: center;
	font-size: 50;
	font-weight: bold;
	padding-top: 1;
	margin: 0;
	font-family: comic sans ms;
}

section.calling a {
	display: inline-block;
	font-weight: bolder;
	padding: 2rem 4rem;
	background: lightpink;
	position: center;
	color: darkblue;
	border-radius: 0.7rem;
	margin-bottom: 8rem;
	font-family: comic sans ms;
}

section.pages a {
	display: inline;
	width: 10%;
	height: 10%;
}
section.pages p {
	display: inline-block;
	font-weight: bolder;
	padding: 2rem 4rem;
	background: lightpink;
	position: center;
	color: darkblue;
	border-radius: 0.7rem;
	margin-bottom: 8rem;
	display: inline;
	width: 10%;
	height: 10%;
	font-family: comic sans ms;
}


section.pages {
	background-color: lightyellow;
}

footer a {
	font-size: 3rem;
	font-family: comic sans ms;
	color: darkblue;
}
footer p {font-size: 2rem
	font-family: comic sans ms;
	color: darkblue;
}