
nav {
	position: absolute;
}

section.calling {
	width: 100%;
	height: 80%;
	background: #94dae6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: lightgoldenrodyellow;
}
section.calling h1 {
	padding-top: 12;
	text-align: center;
	font-size: 5rem;
	margin: 0;
	line-height: 5rem;
}
section.calling p {
	text-align: center;
	font-size: 50;
	font-weight: bold;
	margin: 0;
	padding-top: 1;
}

section.calling a {
	display: inline-block;
	font-weight: bolder;
	padding: 2rem 4rem;
	background: lightpink;
	position: center;
	color: darkblue;
	border-radius: 0.7rem;
	margin-bottom: 8rem;



}


tr:nth-child(even) {
  background-color: #ba89da;

}
table.tab {
	border-collapse: collapse;
	margin: 25px;
	font-size: 2rem;
	height: 50%;
	width: 30%;
}






section.pages a {
	display: inline;
	width: 10%;
	height: 10%;
	

}
section.pages p {
	display: inline-block;
	font-weight: bolder;
	padding: 2rem 4rem;
	background: lightpink;
	position: center;
	color: darkblue;
	border-radius: 0.7rem;
	margin-bottom: 8rem;
	display: inline;
	width: 10%;
	height: 10%;
	
	

}


section.pages {
	background-color: lightyellow;
}


section.iframe {
	width: 1rem;
	height: 1rem;
}
footer {
	font-size: 3rem;

}