nav {
	background-color: lightpink;
	height: 7rem;
}

nav {
	position: absolute;
	width: 100%;
	padding: 1.5rem;
}
nav img{
	width: 210px;
	margin-left: auto;

}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 3rem;
}
nav ul li {
	margin-left: 2rem;
	font-family: comic sans ms;
}

nav a {
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}


section.calling {
	width: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: skyblue;
}
section.calling h1 {
	text-align: center;
	font-size: 3rem;
	line-height: 2rem;
	font-family: fiesta;



}

section.calling img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width:  900px){
	section.calling h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	}
}

section.calling p {
	text-align: center;
	font-size: 50;
	font-weight: bold;
	margin: 0;
	font-family: fiesta;
}

section.calling a {
	display: inline-block;
	font-weight: bolder;
	padding: 2rem 4rem;
	padding-top: 3rem;
	background: lightpink;
	color: darkblue;
	border-radius: 0.7rem;
	font-family: comic sans ms;
	border-style: solid;
	border-width: 5px;
	border-color: black;

	
}

section.calling {
	background-color: #fbe8e6;
	margin: auto;
	width: 70%;
}

section.pages a {
	display: inline;
	max-width: 300px ;

}
section.pages p {
	font-weight: bolder;
	padding: 2rem 4rem;
	background: lightpink;
	color: darkblue;
	border-radius: 0.7rem;
	font-family: comic sans ms;
	font-size: 1.5rem;
	border-style: solid;
	border-width: 5px;
	border-color: black;

}



section.pages {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5rem;

}

section.pages img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 200px;
  height: 180px;
}

section.pages {
	background-color: lightskyblue ;
	width: 70%;
	margin: auto;
}


footer h1 {
	font-size: 3rem;
	font-family: comic sans ms;
	color: darkblue;
}
footer p {
	font-size: 3rem;
	font-family: comic sans ms;
	color: darkblue;
}


section.villvage p {
	font-family: comic sans ms;


}

section.village h1 {
	width: 100%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: skyblue;
	

}

section.village p {
	font-weight: bolder;
	padding: 2rem 4rem;
	background: lightpink;
	color: darkblue;
	border-radius: 0.7rem;
	font-family: comic sans ms;
	width: 50%;
	text-align: center;
	margin: auto;
}
